.container {
  display: flex;
  height: 100vh;
  background: #FFf;
  font-family: Arial, sans-serif;
}

.left {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo span:first-child {
  color:  #2ce0c5;
  font-size: 36px;
  font-weight: bold;
}
.logo span:last-child {
  color: #7b6df6;
  font-size: 36px;
  font-weight: bold;
}
.illustration {
  width: 320px;
  margin-top: 30px;
}

.right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 360px;
  background: #cfe9f6;
  padding: 30px;
  border-radius: 20px;
}

.card h2 {
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  display: block;
  margin-top: 12px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin-top: 6px;
}

.password {
  position: relative;
}

.eye {
  position: absolute;
  right: 12px;
  top: 12px;
  cursor: pointer;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: linear-gradient(to right, #2ce0c5, #7b6df6);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}

.login-text {
  text-align: center;
  margin-top: 15px;
  font-size: 13px;
}
